---
extension: html
filter: haml
layout: none
---

-# Title
.contentTitle
  contact


#contactDetails
  %dl
    %dt
      Phone:
    %dd
      415 894 0328

    %dt
      Email:
    %dd
      = link_to "railsjedi@gmail.com", "mailto:railsjedi@gmail.com"
      
    %dt
      Twitter:
    %dd
      = link_to "@railsjedi", "http://twitter.com/railsjedi"
    
    %dt
      GitHub:
    %dd
      = link_to "http://github.com/railsjedi", "http://github.com/railsjedi"
    
    %dt
      Profiles:
    %dd
      = link_to "working with rails", "http://workingwithrails.com/person/6826-jacques-crocker"
      %br
      = link_to "linked in", "http://www.linkedin.com/in/jacquescrocker"
    
-# contact form (lame)
#contactFormWrapper{hidden}
  -# Contact Form
  %form#contact{ :method => "post", :action => "mail.php" }
    %input#name{ :name => "name", :type => "text", :value => "name" }
    %input#email{ :name => "email", :type => "text", :value => "email" }
    %br
    %br
    %textarea#message{ :name => "message", :rows => "", :cols => "" }
      message
    %input#submit{ :src => "images/sendButtonDis.png", :type => "image", :disabled => "disabled" }
  #successMessage
